

#write_submit{
    cursor: pointer;
    position: absolute;
    border: none;
    border-radius: 30px;
    background: #1A9A18;
    width: 148px;
    height: 48px;
    flex-shrink: 0;
    top: 100px;
    left: 1200px;
    color: #FFF;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.write_screen::placeholder{
    font-size: 30px;
    font-weight: 800;
    color: black;
}
.write_title::placeholder{
    font-size: 30px;
    font-weight: 800;
    color: black;
}
.write_img1 > img{
    width: 420px;
    height: 400px;
    object-fit:fill;
    position: absolute;
    right: 160px;
}
.sd-cBornZ-gegSAw{
    position: absolute;
    top: 70px;
    left: 730px;
    display: flex;
    flex-direction: column;
    width: 150px;
    align-items: flex-start;
    margin: 12px;
    gap: 4px;
    font-size: 16px;
    font-weight: 600;
}
.sd-cBornz-gegs{
    border: none;
    padding: 12px;
    border-radius: 4px;
    background-color: rgb(241, 241, 241);
}
.sc-cBornZ-gegSAw{
    position: absolute;
    top: 70px;
    left: 600px;
    display: flex;
    flex-direction: column;
    width: 150px;
    align-items: flex-start;
    margin: 12px;
    gap: 4px;
    font-size: 16px;
    font-weight: 600;
}
.sc-cBornz-gegs{
    border: none;
    padding: 12px;
    border-radius: 4px;
    background-color: rgb(241, 241, 241);
}

.write_img1{
    position: absolute;
    outline: none;
    border: none;
    width: 740px;
    height: 400px;
    flex-shrink: 0;
    top: 254px ; 
    left: 600px;
    border-left: 2px solid lightgray;
    border-right: 2px solid lightgray;
    font-size: 30px;
    padding-left: 12px;
    
}
.write_title{
    position: absolute;
    outline: none;
    border: none;
    width: 740px;
    height: 100px;
    flex-shrink: 0;
    top: 150px;
    left: 600px;
    border: 2px solid;
    border-color: lightgray;
    border-radius: 10px 10px 0 0;
    font-size: 30px;
    padding-left: 10px;
}
.write_screen{
    resize: none;
    position: absolute;
    outline: none;
    border: none;
    vertical-align: top;
    width: 740px;
    height: 480px;
    flex-shrink: 0;
    top: 655px;
    left: 600px;
    border: 2px solid lightgray;
    border-radius: 0 0 10px 10px;
    font-size: 30px;
    padding-top: 10px;
    padding-left: 10px;

}
#file {
    display: none;
  }
.btn-upload{
    position: absolute;
    top: 255px;
    left: 602px;
    width: 753px;
    height: 400px;
    background: #fff;
    font-size: 50px;
    color: lightgray;
    font-weight: 700;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      background: rgb(77,77,77);
      color: #fff;
    }
}
.write_img{
    position: absolute;
    right: 280px;
    top: 120px;

}