.proBox_1{
    width: 320px;
    height: 640px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #F5F5F6;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  .proBox_2{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;

    height: 90vh;
    width: 45vh;
  }

  .boxContents{
    display: flex;

    position: absolute;
    color: #000;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 800;
    line-height: normal; 

    height: 90vh;
    width: 55vh;
  
    overflow: hidden;
  }
  
.boxContents > .proName{
    display: flex;

    width: 50vh;
    height: 15vh;
    justify-content: flex-end;
    align-items: flex-end;

    position: absolute;
  }

  .proHr{
    position: absolute;
    display: flex;

    justify-content: flex-end;
    text-align: flex-end;
  }