.top {
  margin: 0;
  align-items: flex-start;
}
.top1 {
  font-size: 30px;
  font-weight: 900;
  margin: 0 19px 0 60px;
  display: inline-block;
}
.top2 {
  font-size: 25px;
  font-weight: 600;
  margin: 0;
  display: inline-block;
}
.fixbutton {
  width: 150px;
  height: 30px;
  border-radius: 10px;
  color: #868686;
  background-color: #f5f5f6;
  border: none;
  margin: 30px 19px 50px 60px;
}
.fixbutton:hover {
  /* 커서 설정*/
  cursor: pointer;
}
.head {
  font-size: 20px;
  font-weight: 600;
  margin: 0 0 0 60px;
}
.body {
  display: flex;
  width: 100vw;
  height: 10vh;
  background-color: #f5f5f6;
  border-radius: 10px;
  margin: 0 60px 0 60px;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: 800;
}
.social {
  margin: 52px 0 0 60px;
  font-size: 20px;
  font-weight: 800;
}
.link1 {
  text-decoration: none; /* 밑줄 제거 */
  color: #47a1f3;
}
.post {
  margin: 60px;
}
