
  .sideName{
    position: relative;
    top: 80px;
    left: 60px;
    width: 290px;
    height: 310px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  .sideName> .CHname{
    background-color: #1A9A18;
    width: 290;
    height: 80px;
    border-radius: 10px 10px 0 0;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }
  .sideName > .CHname > p{
    position: relative;
    top: 28px;
    left: 30px;
  }
  .Write{
    width: 290px;
    height: 50px;
    background-color: #F5F5F6;
  }
  
  .proBox1{
    position: relative;
  
    display: inline-block;
  
    width: 320px;
    height: 640px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #F5F5F6;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-left: 40px;
    margin-top: 40px;
  
    color: #000;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 800;
    line-height: normal; 
  
    overflow: hidden;
  
    display: inline-block;
  }
  
  .proBox1 > .proName1{
    position: absolute;
  
    width: 70.318px;
    height: 28.444px;
    flex-shrink: 0; 
    margin: 46.46px 0 0 28.54px;
  }
  
  .proHr1{
    
    border: #A7A7A7 solid 0.9px;
    width: 320px;;
  
    margin-top: 30.34px;
    margin-left: -28.4px;
  }
  
  .proBio1{
    margin-top: 30px;
  
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    white-space: nowrap;
  }
  
  .proBio1 > .firstBio1{
    font-size: 18px;
    font-weight: 800;
  }
  
  .secondBio1{
    margin-top: 10px;
  }
  
  .skillTitle1{
    margin-top: 20px;
    font-size: 20px;
    font-weight: 800;
  }
  
  .awardTitle1{
    margin-top: 20px;
    font-size: 20px;
    font-weight: 800;
  }
  
  .bioInfo1{
    margin-top: 20px;
  }
  
  .bioInfo1 > .oddBio1{
    margin-top: 10px;
  }
  
  .imgBio1{
    width: 20px;
    height: 20px; 
  
    vertical-align: middle;
  }
  
  .compBox1{
    width: 829px;
    height: 669px;
    flex-shrink: 0;
  
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  
    position: absolute;
  
    margin-top: 40px;
    margin-left: 31px;
  
    display: inline-block;
  }
  
  .compBox1 > .compTitle1{
    color: #000;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  
    margin-top: 44px;
    margin-left: 56px;
  }
  
  .compBox1 > .compGrade1{
    color: #8C8C8C;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  
    margin-top: 13px;
    margin-left: 56px;
  }
  
  .compBox1 > .compAbout{
    color: #000;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  
    margin-top: 52px;
    margin-left: 56px;
  }
  
  .compBox1 > .compBack1{
    position: absolute;
  
    margin-top: 10px;
    margin-left: 56px;
  
    font-size: 30px;
  
  }