.allPort{
  width: 700px;
 
  position: absolute;
  left: 420px;

  margin-top: 100px;
}


.namePort{

  color: #000;

  font-family: Inter; 
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.gradePort{
  margin-top: 7px;

  color: #000;

  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.bioPort{
  margin-top: 23px;

  color: #8C8C8C;

  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.setBio{
  margin-top: 16px;

  color: #000;

  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.skillsBio{
  margin-top: 9px;

  color: #000;

  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.aboutSikll{
  margin-top: 2px;

  color: #000;

  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.awardBio{
  margin-top: 21px;

  color: #000;

  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.aboutAward{
  margin-top: 2px;

  color: #000;

  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.aboutMe{
  margin-top: 21px;

  color: #000;

  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.morePort{
  margin-top: 7px;

  color: #000;

  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.herfPort{
  margin-top: 2px;
  
  color: #1A9A18;

  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.aboutPort{
  width: 20px;
  height: 20px;

  /* margin-bottom: 1rem; */
}

.aboutText{
  display: inline;

  color: #000;

  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  text-decoration: none;

  margin-left: 1rem;
  /* margin-bottom: 0.5rem; */
}

.portMore{
  margin-top: 2rem;
}

.moreText{
  margin-top: 3rem;
}

.myStory{
  color: #1A9A18;

  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.plusImg{
  width: 20px;
  height: 20px;
}

.plusButton{
  display: inline;
  position: absolute;
}

.aboutTitle{
  color: #000;

  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  margin-top: 38px;
}

.eachTitle{
  margin-top: 5px;
  margin-bottom: 5px;
}

.myCompi{
  margin-top: 50px;
}

.hrGreen{
  width: 700px;
  border: #1A9A18 solid;
  
  margin-top: 10px;
}