.allPort{
  width: calc(100vw - 400px);
  position: absolute;
  right: 0;
}


.namePort{

  color: #000;

  font-family: Inter; 
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.gradePort{
  margin-top: 7px;

  color: #000;

  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.bioPort{
  margin-top: 23px;

  color: #8C8C8C;

  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.setBio{
  margin-top: 16px;

  color: #000;

  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.skillsBio{
  margin-top: 9px;

  color: #000;

  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.aboutSikll{
  margin-top: 2px;

  color: #000;

  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.awardBio{
  margin-top: 21px;

  color: #000;

  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.aboutAward{
  margin-top: 2px;

  color: #000;

  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.aboutMe{
  margin-top: 21px;

  color: #000;

  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.morePort{
  margin-top: 7px;

  color: #000;

  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.herfPort{
  margin-top: 2px;
  
  color: #1A9A18;

  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}