* {
  margin: 0;
}

.signup_main{
  width: 1600px;
  height: 835px;
  position: absolute;
}
.greenbox > img {
  width: 600px;
  height: 100%;
  float: left;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.box2 {
  margin: 0 10%;
  width: 500px;
  height: 800px;
  position: absolute;
  top: 300px;
  right: 50px;
}
.box2 p {
  font-size: 40px;
  margin-left: 10px;
  margin-bottom: 20px;
  font-weight: bold;
}

.box2 button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  background-color: #1a9a18;
  color: #fff;
  margin: 10px;
  height: 50px;
  width: 400px;
  font-size: 20px;
  border-radius: 5px;
  display: block;
}
.box2 input {
  border: none;
  border-bottom: 2px solid #898989;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
  height: 34px;
  width: 380px;
  font-size: 16px;
}

.box2 a {
  text-decoration: none;
  color: #47a1f3;
}

.box1 a:hover {
  text-decoration: underline;
}
form {
  display: contents;
}
.LINK{
  margin-left: 10px;
}
