  .Main {
    width: 1500px;
    height: 1500px;
  }
  .Content {
    width: 1500px;
    height: 1500px;
  }
  .Search1{
    position: absolute;
    top: 8%;
    left: 580px;
    width: 840px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 50px;
    border: 1px solid #1A9A18;
    background: #FFF;
    z-index: 2;
  }
  .Search_box{
    position: absolute;
    outline: none;
    font-size: 20px;
    left: 20px;
    top: 5px;
    border: none;
    width: 750px;
    height: 40px;
    display: flex;
  }
  .Search_icon{
    position: absolute;
    cursor: pointer;
    background-color: #FFF;
    top: 9px;
    left: 790px;
    width: 25px;
    height: 25px;
    flex-shrink: 0;
    border: 1px solid #1A9A18;
    border-radius: 50%;
  }
  .Searcg_icon_line{
    position: absolute;
    cursor: pointer;
    top: 35px;
    left: 809px;
    background-color: #1A9A18;
    transform: rotate( 50deg );
    width: 13px;
    height: 1px;
    flex-shrink: 0;
    stroke-width: 1px;
    stroke: #1A9A18;
  }
  .Post_container {
    position: absolute;
    left: 500px;
    top: 200px;
    overflow-y: auto; 
    max-height: calc(100% - 190px); 
    width: 1200px;
    height: 1040px;
  };
  .Post-container::-webkit-scrollbar {
    display: none;
  }
  .Post_written {
    position: relative;
    border-bottom: 1px solid #888;
    padding: 10px;
    margin-bottom: 20px;
    margin-left: 40px;
    background-color: #fff;
    width: 1000px;
    height: 180px;
    cursor: pointer;
    z-index: 1;
  }
  .Post_border{
    width: 650px;
    height: 260px;
  }
  .Postshow1 {
    width: 650px;
    margin-left: -10px;
  }
  .Name{
    color: #000;
    font-family: Inter;
    font-size: 20px;  
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }
  .Title{
    color: #8C8C8C;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 6px;
  }
  .Detail{
    color: #8C8C8C;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .Post_Img{
    width: 240px;
    height: 200px;
    position: absolute;
    top: 50%; 
    right: 50px; 
    transform: translate(0, -55%); 
    }
  /* .post-divider {
    border-top: 1px solid #ccc;
    margin: 10px 0; 
  } */
  .Post-written .Name {
    font-weight: bold;
    font-size: 20px;
    color: #333;
  }
  
  .Post-written .Title {
    font-size: 22px;
    color: #777;
  }
  
  .Post-written .Detail {
    color: #777;
  }
  
  .Post-written .Date {
    color: #888;
    position: absolute;
    bottom: 0;
    left: 0;
  }