  #MainTitle {
    color: #1A9A18;
  }

  .main {
    width: 1500px;
    height: 1500px;
  }
  .search1{
    position: absolute;
    top: 8%;
    left: 500px;
    width: 840px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 50px;
    border: 1px solid #1A9A18;
    background: #FFF;
    z-index: 2;
  }
  .post-divider {
    border-top: 1px solid #ccc;
    margin: 10px 0; 
  }
  .search_icon{
    position: absolute;
    cursor: pointer;
    background-color: #FFF;
    top: 9px;
    left: 790px;
    width: 25px;
    height: 25px;
    flex-shrink: 0;
    border: 1px solid #1A9A18;
    border-radius: 50%;
  }
  .searcg_icon_line{
    position: absolute;
    cursor: pointer;
    top: 35px;
    left: 809px;
    background-color: #1A9A18;
    transform: rotate( 50deg );
    width: 13px;
    height: 1px;
    flex-shrink: 0;
    stroke-width: 1px;
    stroke: #1A9A18;
  }
  .search_box{
    position: absolute;
    outline: none;
    font-size: 20px;
    left: 20px;
    top: 40px;
    border: none;
    width: 750px;
    height: 40px;
    display: flex;
  }

  .post-written {
    position: relative;
    border-bottom: 1px solid #888;
    padding: 10px;
    margin-bottom: 20px;
    margin-left: 40px;
    background-color: #fff;
    width: 1000px;
    height: 180px;
    cursor: pointer;
    z-index: 1;
  }
  
  .post-written .name {
    font-weight: bold;
    font-size: 20px;
    color: #333;
  }
  
  .post-written .title {
    font-size: 22px;
    color: #777;
  }
  
  .post-written .detail {
    color: #777;
  }
  
  .post-written .date {
    color: #888;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  
  .post_img{
    width: 240px;
    height: 200px;
    position: absolute;
    top: 50%; 
    right: 50px; 
    transform: translate(0, -55%); 
    }
    
    .post-container {
      position: relative;
      margin-top: 105px;
      margin-left: 400px;
      overflow-y: auto; 
      max-height: calc(100% - 190px); 
      width: 1100px;
      height: 640px;
    };

  .post_border{
    width: 650px;
    height: 260px;
  }

  .content {
    width: 1500px;
    height: 1500px;
  }
 
  .postshow1 {
    width: 650px;
    margin-left: -10px;
  }

  .name{
    color: #000;

  font-family: Inter;
  font-size: 20px;  
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  }

  .title{
    color: #8C8C8C;

  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  margin-top: 6px;
  }

  .detail{
    color: #8C8C8C;

  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  }