* {
  margin: 0;
}
.App1 {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  overflow-y: hidden;
  overflow-x: hidden;
}
.login_main {
  width: 1600px;
  height: 835px;
  position: absolute;
}

.greenbox {
  background-color: #1a9a18;
  width: 740px;
  height: 835px;
  float: left;
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  position: absolute;
}
.box1 {
  margin: 0 10%;
  height: 900px;
  position: absolute;
  top: 200px;
  right: 50px;
  width: 500px;
}
.box1 p {
  font-size: 40px;
  margin-bottom: 10px;
  font-weight: bold;
}

.box1 button.Certified {
  display: inline;
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: #1a9a18;
  color: #fff;
  margin: 10px;
  height: 50px;
  width: 80px;
  font-size: 16px;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  position: absolute;
  top: 140px;
  right: 90px;
}
.box1 .Certificationbox .completed {
  display: inline;
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: #1a9a18;
  color: #fff;
  margin: 10px;
  height: 50px;
  width: 80px;
  font-size: 16px;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  position: absolute;
  top: 140px;
  right: 90px;
}
.box1 button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  background-color: #1a9a18;
  color: #fff;
  margin: 10px;
  height: 50px;
  width: 400px;
  font-size: 20px;
  border-radius: 5px;
  font-weight: bold;
}
.box1 input.button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  background-color: #1a9a18;
  color: #fff;
  margin: 10px;
  height: 50px;
  width: 400px;
  font-size: 20px;
  border-radius: 5px;
  font-weight: bold;
}
.box1 input.id-Email {
  border: none;
  border-bottom: 2px solid #898989;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
  height: 34px;
  width: 260px;
  font-size: 16px;
}
.box1 .Certificationbox input.Certificationbox {
  border: none;
  border-bottom: 2px solid #898989;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
  height: 34px;
  width: 260px;
  font-size: 16px;
}
.box1 input {
  border: none;
  border-bottom: 2px solid #898989;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
  height: 34px;
  width: 380px;
  font-size: 16px;
}

.box1 a {
  text-decoration: none;
  color: #47a1f3;
}

.box1 a:hover {
  text-decoration: underline;
}
form {
  display: contents;
}
